html
{
	width: 100%;
}

body
{
	background-color: #81DAF5;
	margin: 0 auto;
	border: 1px solid white;
	width: 1200px;
}

header
{
	background-color: #CEECF5;
	height: 150px;
	border: 1px solid black;
}
nav
{
	background-color: #CEECF5;
	width:200px;
	height: 800px;
	border: 1px solid #2E9AFE;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

footer
{
	background-color: #CEECF5;
	height: 90px;
}